.contenedor{
    background-color: gray;
    display: inline-flex;
    flex-wrap: wrap;
    height: 500px;
    align-items: start;
    align-items: end;
    align-items: center;
    


}
.item{
    background-color: blue;
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}