.caja {
    width: 400px;
    height: 300px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    /*transform: rotate(90deg);
    transform: scale(1.5);*/
    transition: all 0.5s ease;

}

@keyframes rectangulo {
    15% {
        transform: translateX(-20px);

    }

    30% {
        transform: translateX(-20px);

    }

    45% {
        transform: translateX(-20px)  rotate(-90deg);
    }

    60% {
        transform: translateX(-10px) ;
    }

    100%{
        transform: translateX(-20px) ;
    }
}
.caja:hover{
    animation: rectangulo 1s ease;
    animation-iteration-count: 5;
}