/*
font-family: 'Amaranth', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Ruda', sans-serif;
font-family: 'Sen', sans-serif;*/
h2{
    color: gold;
    font-family:'Ruda', sans-serif; ;
}
p{
    color: blueviolet;
    font-family: 'Istok Web', sans-serif
}