.contenedor{
    background-color: gray;
    width: 60%;
    margin: 0 auto;
    height: 700px;
}
.verde{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background-color: greenyellow;
    margin-bottom: 20px;
    position: relative;
    top: 50px;
    left: 50px;
}

.celeste{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background-color: lightblue;
    margin-bottom: 20px;
}
.amarillo{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background-color: yellow;
    margin-bottom: 20ox;
}